.wrapper {
  max-width: 112rem;
  margin: 3.2rem auto;
  padding: 0 1.6rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 3.2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  :root {
    /* font-size: 62.5% = 100% || 54.69% = 87.5% */
    font-size: 54.69%; 
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}